/*   ******************************TAG SELECTORS************************ */


h1
{
color: blue;
}


img:hover
{
background-color:gold;
}
/*   ******************************CLASS SELECTORS************************ */

.bacon
{
background-color:red;
}

.broccoli{
background-color:red;
}

.circular{
background-color:green;
border-radius: 100%;
}
/*   ******************************ID SELECTORS************************ */

#heading{
color:green;
}




